<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New blank</title>
</head>
<body>

<form th:method="POST" th:action="@{/cars}" th:object="${carBlank}">
    <label for="nameOfCarBlank">Enter name of blank: </label>
    <input type="text" th:field="*{nameOfCarBlank}" id="nameOfCarBlank"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameOfCarBlank')}" th:errors="*{nameOfCarBlank}">Name Error</div>
    <br/>
    <label for="yearOfRelease">Enter year of release your car(yyyy): </label>
    <input type="text" th:field="*{yearOfRelease}" id="yearOfRelease"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfRelease')}" th:errors="*{yearOfRelease}">yearOfRelease Error</div>
    <br/>
    <label for="cost">Enter cost of your car: </label>
    <input type="text" th:field="*{cost}" id="cost"/>
    <div style="color:red" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">yearOfRelease Error</div>
    <br/>
    <br/>
    <label for="description">Write description: </label>
    <br/>
    <textarea th:field="*{description}" cols="40" rows="5" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">yearOfRelease Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>